// base color
$blue: #409EFF;
$lightBlue: #75B9BE;
$red: #C03639;
$pink: #E65D6E;
$tiffany: #4AB7BD;
$yellow: #FEC171;
$green: #4FC08D;
$panGreen: #3FB984;
$deepGreen: #488466;
$lightGreen:#8BC34A;
$bgBlack: #2d3a4b;
$bgGreen: #EDFAF4;
$purple: #7C77B9;
$white: #FFFFFF;
$grey: #606266;
$panGrey: #909399;
$lightGrey: #eee;

// sidebar
$sideBarWidth: 200px;